

.root {
    text-align: left;
    color: white;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 650px) {
    .root {
        width: 90%;
    }
}

.root > * {
    margin-right: 10px;
}

@media (max-width: 650px) {
    .buttons {
        width: 100%;
        display: flex;
        justify-content: stretch;
        margin-top: 15px;
    }

    .button {
        width: 100%;
    }
}

.sort {
    margin-right: 15px;
}

.input {
    width: 100%;
}

.download {
    margin-right: 5px;
}

.sorts {
    display: flex;
    justify-content: space-between;
}

.searchHolder {
    display: flex;
    margin-bottom: 15px;
}

.optionsHolder {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 650px) {
    .optionsHolder {
        display: block;
    }
}

.torrentsHolder {
    margin-top: 25px;
}

.torrent {
    margin-bottom: 5px;
}