

.button {
    border-radius: 6px;
    margin-right: 5px;
}

.center {
    margin-right: 0px;
    border-radius: 0px;
}

.left {
    margin-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.right {
    margin-right: 0px;
    border-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}